.card {
  --main-color: orange;
  background-color: var(--main-color);
  padding: 8px;
  max-width: 180px;
  margin: 8px;
  border-radius: 20px;
  border: 2px solid #4ec1bc;
  transition: transform 200ms;
  cursor: alias;
}

.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover,
.card:hover img {
  filter: drop-shadow(2px 4px 6px black);
  transform: scale(1.05);
}
